body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    perspective: 1000px;
    background-color: rgba(12, 0, 54, 0.808);
    position: relative;
}

.box{
    width: 100%;
    height: 100;
}

@keyframes rotate{
    0%{
        transform: rotate3d(0, 0, 0);
    }

    50%{
        transform: rotate3d(90, 180, 90);
    }

    100%{
        transform: rotate3d(180, 180, 180);
    }
}

.child{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.658);
    border: solid 1px white;
    transform-style:preserve-3d;
    position: absolute;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-duration: 1s;
}

.one{
    transform: rotateX(-90deg)
    translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.two{
    transform: rotateY(90deg)
    translate(-50%,-50%);;
    top: 50%;
    left: 50%;
}

.three{
    transform: rotateZ(0deg)
    translate(-50%,-50%);;
    top: 50%;
    left: 50%;
}

